SAPSharePointServices/Service References/EngagementsService/EngagementsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://projectspace-test.de.kworld.kpmg.com:801/EngagementsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KPMG.Engagements.EngagementsService" />
  <xs:import schemaLocation="https://projectspace-test.de.kworld.kpmg.com:801/EngagementsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KPMG.Engagements.EngagementsService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KPMG.Engagements.EngagementsService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewEngagementSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="engagementId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="manager" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partner" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="engagementProperties" nillable="true" type="q3:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewEngagementSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewEngagementSiteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEngagementSiteProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="engagementId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="manager" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partner" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="engagementProperties" nillable="true" type="q4:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEngagementSitePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEngagementSitePropertiesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngagementStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="engagementId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngagementStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEngagementStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseEngagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="engagementId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseEngagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseEngagementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReopenEngagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="engagementId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReopenEngagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReopenEngagementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewOpportunitySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="manager" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partner" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="opportunityProperties" nillable="true" type="q5:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewOpportunitySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewOpportunitySiteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOpportunitySiteProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="manager" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partner" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="opportunityProperties" nillable="true" type="q6:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOpportunitySitePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOpportunitySitePropertiesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEngagementFromOpportunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEngagementFromOpportunityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEngagementFromOpportunityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>